<footer id="footer" class="mt-auto">
    <div class="container-fluid">
      <!-- social media icons -->
      <div class="social-icons mt-4">
          <a href="#" target="_blank"><i class="fa-solid fa-house"></i></a>
          <a href="https://www.github.com/chemille" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/michelle-o-64a64645" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="mailto:ohmotrl@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
      </div>
  </div>
  </footer>