<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="mlogo.jpg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" routerLinkActive="active">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="activebutton" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/projects" routerLinkActive="activebutton" aria-current="page" href="#">Projects</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/skills" routerLinkActive="activebutton" aria-current="page" href="#">Skills</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact" routerLinkActive="activebutton" aria-current="page" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-black navbarScroll">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="mlogo.jpg" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto" routerLinkActive="active">
            <li class="nav-item">
              <a class="nav-link" routerLink="home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="projects" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="skills" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact</a>
            </li>
        </ul>
        </div>  
    </div>
</nav>
<router-outlet></router-outlet> -->

<!-- ***Remember to import RouterOutlet in navbar.component.ts -->

