* {
    background-color: #011430; 
}

.card-text {
    color: black;
}

.card-title {
    color: white;
    text-align: center;
}

/* button styling */
.btn.btn-success {
    background-color: #ec60d2;
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
}

.btn.btn-success:hover {
    background-color: rgb(61, 176, 247);
}

h1 {
    padding-top: 150px;
    color: white;
}
