<section id="skills">
    <div class="container mt-4 pt-4">
        <h1 class="text-center" >Skills</h1>
        <div class="row mt-4">

            <div class="col-lg-8">

                <div class="row mt-3">
                    <p>TECHNICAL SKILLS</p>
                    <div class="col-md-6">
                        <ul>
                            <li>Languages and Frameworks: 
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa-brands fa-python fa-lg"></i><i>Python, Flask</i></li>
                                    <li><i class="fa-li fa-brands fa-react fa-lg"></i><i>React.js</i></li>
                                    <li><i class="fa-li fa-brands fa-js fa-lg"></i><i>JavaScript, TypeScript</i></li>
                                    <li><i class="fa-li fa-brands fa-html5 fa-lg"></i><i>HTML</i></li>
                                    <li><i class="fa-li fa-brands fa-css3 fa-lg"></i><i>CSS</i></li>
                                    <li><i class="fa-li fa-brands fa-java fa-lg"></i>Java</li>
                                </ul>
                            </li>    
                            <li>Technologies and Tools: 
                                <ul>
                                    <li>AWS</li> 
                                    <li>Git</li> 
                                    <li>PostgreSQL</li>
                                    <li>Heroku</li>
                                    <li>Microsoft Azure</li> 
                                    <li>Okta</li>
                                    <li>Kibana</li>
                                </ul>
                            </li>  
                            <li>Poject Management: 
                                <ul>
                                    <li>Agile methodologies</li> 
                                    <li>Kanban</li>
                                    <li>Jira</li>
                                    <li>CI/CD</li> 
                                    <li>Test Driven Development</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


