<section class="bg">
    <div class="container-fluid">
        <div class="row">
            <div class="typewriter-text">
                <div class="typewriter">Hi! I'm... {{ currentSentence }}</div>
            </div> 
        </div>
    </div> 


<!-- Make sure you're binding the currentSentence variable to display the typing and deleting effect. -->
<!-- 
 Double braces notation surrounding currentSentence means interpolation 
 and it represents one-way binding. When you put something in double braces,
 Ng will look for that object on the component. So in this case, Ng is going
 to looking for an object named currentSentence.
 -->